{% extends "layout.html" %}

{% block title %}
    BookKing
{% endblock %}

{% block style %}
    <style>
        @media only screen and (max-width: 799px) {
            .last_image {
                display: none !important;
                opacity: 0%; } }
        .opacity-75 {
        opacity: 75%; }

        .opacity-60 {
        opacity: 60%; }

        .opacity-35 {
        opacity: 35%; }

        ul li {
        border-color: #454d55; }

        #yellow {
        opacity: 60%; }
    </style>
{% endblock %}

{% block header%}
    <nav class="navbar navbar-expand-lg navbar-dark opacity-75">
        <a class="navbar-brand" href="#">BookKing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if session.user_id %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/searching">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/register">Register<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block body %}
    <body style="background-image: url(https://images8.alphacoders.com/617/thumb-1920-617304.jpg);">
        <div class = "container my-5">
            <h1 class="text-center display-1 text-light font-weight-bold opacity-35">BookKing</h1>
        </div>
        <div class = "container opacity-75">
            <div class="row mb-5">
                <div class="col-sm mb-5">
                    <div class="card bg-dark text-light" style="width: 18rem; margin-left:auto; margin-right:auto;">
                        <div class="card-body">
                        <h5 class="card-title">Life</h5>
                        <h6 class="card-subtitle mb-2 text-muted">kkkkkkkkkk</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-5">
                    <div class="card bg-dark text-light" style="width: 18rem; margin-left:auto; margin-right:auto;">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-5">
                    <div class="card bg-dark text-light" style="width: 18rem; margin-left:auto; margin-right:auto;">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm mb-5">
                    <div class="card bg-dark text-light" style="width: 18rem; margin-left:auto; margin-right:auto;">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-5">
                    <div class="card bg-dark text-light" style="width: 18rem; margin-left:auto; margin-right:auto;">
                        <div class="card-body">
                        <h5 class="card-title">Life</h5>
                        <h6 class="card-subtitle mb-2 text-muted">kkkkkkkkkk</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm mb-5">
                    <div class="card bg-dark text-light" style="width: 18rem; margin-left:auto; margin-right:auto;">
                        <div class="card-body">
                        <h5 class="card-title">Life</h5>
                        <h6 class="card-subtitle mb-2 text-muted">kkkkkkkkkk</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </body>
{% endblock %}