


<style>

   
    body {
margin: 0;
position: absolute;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background: #d8dee8;
}
body:before {
content: '';
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(150% 150% at 0% 20%, #d8dee8 20%, #788daf);
}
.button {
appearance: none;
border: none;
outline: none;
padding: 0;
border: 0;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
position: relative;
font-size: 30vmin;

opacity: 0;
animation: buttonIn 2s cubic-bezier(0.33, 0.45, 0.3, 1) forwards 2s;
background: none;
border-radius: 50%;
}
@keyframes buttonIn {
from {
    opacity: 0;
    transform: scale3d(1.1, 1.15, 1);
}
to {
    opacity: 1;
    transform: none;
}
}
.button:before, .button:after {
content: '';
border-radius: inherit;
}
.button:before {
filter: blur(0.025em);
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: radial-gradient(160% 160% at 57.5% 60%, rgba(235, 238, 243, 0) 30%, #ebeef3 45%), radial-gradient(180% 200% at 40% 17.5%, rgba(152, 168, 194, 0) 35%, #98a8c2 50%), radial-gradient(120% 120% at 45% 45%, rgba(184, 195, 213, 0) 42%, rgba(152, 168, 194, 0.75) 50%);
background-color: #bcc6d8;
box-shadow: inset -0.05em -0.05em 0.025em -0.025em #a8b5cc, 0.115em 0.15em 0.1em -0.033em #98a9c2, 0.15em 0.2em 0.25em #a8b5cc, 0.5em 0.33em 0.5em 0.1em #a8b5cc, -0.1em -0.1em 0.05em -0.075em #dee3ec, -0.2em -0.2em 0.33em -0.075em #dadfe9;
}
.button:after {
position: absolute;
top: 0.025em;
right: 0.025em;
bottom: 0.025em;
left: 0.025em;
background: radial-gradient(150% 150% at 75% 75%, rgba(120, 141, 175, 0) 30%, #788daf), radial-gradient(150% 150% at -10% -10%, rgba(226, 230, 238, 0) 50%, #e2e6ee);
background-color: #b8c3d5;
transition: 0.75s cubic-bezier(0.33, 0.45, 0.3, 1);
transition-delay: 0.25s;
opacity: 0;
filter: blur(0.03em);
transform: scale3d(0.925, 0.94, 1);
}
.print {
position: relative;
width: 40%;
height: 0;
padding-bottom: 44.488%;
display: inline-block;
z-index: 1;
transform: scale3d(1.05, 1.05, 1);
backface-visiblity: hidden;
color: rgba(51, 170, 255, 0.5);
}
.print svg {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.print path {
stroke-width: 4;
fill: none;
stroke-linecap: round;
stroke-dasharray: 1;
transition: 2s cubic-bezier(0.33, 0.45, 0.3, 1);
will-change: stroke-dashoffset, stroke, color, opacity;
}
.print--under {
margin-right: -40%;
mix-blend-mode: lighten;
filter: drop-shadow(0 0 0.033em currentColor);
stroke-dashoffset: 0.5;
transition: 2s cubic-bezier(0.33, 0.45, 0.3, 1);
animation: printPulse 2s linear infinite 6.25s;
}
@keyframes printPulse {
0% {
    opacity: 1;
}
50% {
    opacity: 0.33;
}
100% {
    opacity: 1;
}
}
.print--under path {
opacity: 0;
animation: printIn 2s cubic-bezier(0.33, 0.45, 0.3, 1) forwards 3.2s;
}
@keyframes printIn {
from {
    opacity: 0;
    stroke-dashoffset: 0.5;
}
to {
    opacity: 1;
    stroke-dashoffset: 0;
}
}
.print--under path:nth-of-type(1) {
stroke: #a6ceff;
}
.print--under path:nth-of-type(2) {
stroke: #a6d1ff;
}
.print--under path:nth-of-type(3) {
stroke: #a6d4ff;
}
.print--under path:nth-of-type(4) {
stroke: #a6d7ff;
}
.print--under path:nth-of-type(5) {
stroke: #a6daff;
}
.print--over {
filter: drop-shadow(-0.0075em -0.0075em 0.005em rgba(0, 0, 51, 0.1)) drop-shadow(0.0075em 0.0075em 0.005em rgba(255, 255, 255, 0.25)) drop-shadow(0 0 0.04em currentColor);
opacity: 0;
transition: transform 2s cubic-bezier(0.33, 0.45, 0.3, 1), color 0s 0.4s, opacity 0.5s cubic-bezier(0.33, 0.45, 0.3, 1);
}
.print--over:after {
content: '';
position: absolute;
top: -40%;
right: -60%;
bottom: -40%;
left: -60%;
border-radius: 50%;
opacity: 0;
background: radial-gradient(32.5% 32.5% at 42.5% 42.5%, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0));
mix-blend-mode: color-dodge;
transition: opacity 0.3s cubic-bezier(0.33, 0.45, 0.3, 1);
animation: glowPulse 3s linear infinite, glowTwist 3s linear infinite;
}
@keyframes glowPulse {
0% {
    transform: scale3d(0.9, 0.9, 1);
}
50% {
    transform: scale3d(1, 1, 1);
}
100% {
    transform: scale3d(0.9, 0.9, 1);
}
}
@keyframes glowTwist {
0% {
    rotate: 0deg;
}
50% {
    rotate: 180deg;
}
100% {
    rotate: 360deg;
}
}
.print--over path {
opacity: 0;
stroke-dashoffset: 1;
transition: stroke 0.5s cubic-bezier(0.33, 0.45, 0.3, 1), opacity 0s 0.5s, stroke-dashoffset 0s 0.5s;
}
.print--over path:nth-of-type(1) {
stroke: #338fff;
}
.print--over path:nth-of-type(2) {
stroke: #3396ff;
}
.print--over path:nth-of-type(3) {
stroke: #339cff;
}
.print--over path:nth-of-type(4) {
stroke: #33a3ff;
}
.print--over path:nth-of-type(5) {
stroke: #3af;
}
.button:hover.test, .button.test.test {
animation: none;
opacity: 1;
transform: none;
font-size: 60vmin;
}
.button:hover:after, .button.test:after {
opacity: 1;
transform: none;
transition-delay: 0s;
}
.button:hover .print, .button.test .print {
transform: scale3d(1, 1, 1) translateZ(0);
}
.button:hover .print--over, .button.test .print--over {
color: rgba(111, 0, 255, 0.66);
opacity: 0.66;
transition: 1.5s cubic-bezier(0.33, 0.45, 0.3, 1) 4.5s, opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1), transform 2s cubic-bezier(0.33, 0.45, 0.3, 1);
}
.button:hover .print--over:after, .button.test .print--over:after {
transition: opacity 2s cubic-bezier(0.33, 0.45, 0.3, 1) 5.25s;
}
.button:hover .print--over path, .button.test .print--over path {
opacity: 1;
stroke-dashoffset: 0;
}
.button:hover .print--over path:nth-of-type(1), .button.test .print--over path:nth-of-type(1) {
stroke: #2a00ff;
transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.35s, stroke-dashoffset 4.2s cubic-bezier(0.33, 0.45, 0.3, 1) 0.35s, stroke 1.2s cubic-bezier(0.33, 0.45, 0.3, 1) 4.65s, color 1.2s cubic-bezier(0.33, 0.45, 0.3, 1) 4.65s;
}
.button:hover .print--over path:nth-of-type(2), .button.test .print--over path:nth-of-type(2) {
stroke: #3c00ff;
transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.45s, stroke-dashoffset 4.4s cubic-bezier(0.33, 0.45, 0.3, 1) 0.45s, stroke 1.4s cubic-bezier(0.33, 0.45, 0.3, 1) 4.55s, color 1.4s cubic-bezier(0.33, 0.45, 0.3, 1) 4.55s;
}
.button:hover .print--over path:nth-of-type(3), .button.test .print--over path:nth-of-type(3) {
stroke: #4d00ff;
transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.55s, stroke-dashoffset 4.6s cubic-bezier(0.33, 0.45, 0.3, 1) 0.55s, stroke 1.6s cubic-bezier(0.33, 0.45, 0.3, 1) 4.45s, color 1.6s cubic-bezier(0.33, 0.45, 0.3, 1) 4.45s;
}
.button:hover .print--over path:nth-of-type(4), .button.test .print--over path:nth-of-type(4) {
stroke: #5e00ff;
transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.65s, stroke-dashoffset 4.8s cubic-bezier(0.33, 0.45, 0.3, 1) 0.65s, stroke 1.8s cubic-bezier(0.33, 0.45, 0.3, 1) 4.35s, color 1.8s cubic-bezier(0.33, 0.45, 0.3, 1) 4.35s;
}
.button:hover .print--over path:nth-of-type(5), .button.test .print--over path:nth-of-type(5) {
stroke: #6f00ff;
transition: opacity 0.25s cubic-bezier(0.33, 0.45, 0.3, 1) 0.75s, stroke-dashoffset 5s cubic-bezier(0.33, 0.45, 0.3, 1) 0.75s, stroke 2s cubic-bezier(0.33, 0.45, 0.3, 1) 4.25s, color 2s cubic-bezier(0.33, 0.45, 0.3, 1) 4.25s;
}

.fixed-bottom{
     position:fixed;
     right:auto;
     bottom:10;
     left:auto;
     
    }
@media only screen and (min-width: 100px) {
    .button {
        width: 1em !important;
        height: 1em !important; } }
@media only screen and (min-width: 799px) {
    .button {
        display: none !important;
        } }

</style>
<title>Segredo</title>
<section class="container fixed-bottom">
    <a href="https://www.instagram.com/enzo_nsb/?hl=pt-br" class="button" type="button">
        <span class="print print--under">
            <svg viewBox="0 0 98 109" xmlns="http://www.w3.org/2000/svg">
                <path d="m95.42 60.221c0.33333-4.6667 0.33333-10.667 0-18-0.5-11-8.5-26.5-24-34.5-15.5-8-38-9.5-55.5 8-11.667 11.667-16 25.5-13 41.5l0.65525 4.3683c0.38693 2.5791 2.7914 4.3563 5.3705 3.9695 2.5664-0.38496 4.3413-2.7687 3.9742-5.3378-1-7-6-22 10-38 14.554-14.554 38.15-14.554 52.704 0 4.5444 4.5444 7.8364 10.187 9.5562 16.379 0.5744 2.0681 0.98766 3.9417 1.2398 5.6209 2.4899 16.582-2.9979 37.051-6 53" pathLength="1"/>
                <path d="m15.42 76.221c5.3333-3.6667 7.3333-10.167 6-19.5-0.23862-1.551-0.44877-3.0902-0.63044-4.6174-1.8313-15.395 9.1641-29.359 24.559-31.191 1.268-0.15084 2.5448-0.21497 3.8216-0.19197 15.616 0.28138 28.07 13.129 27.864 28.747-0.089675 6.8105-0.29443 11.895-0.61426 15.253-1.2042 12.644-2.9364 21.532-7 37" pathLength="1"/>
                <path d="m19.92 85.221c7-5.3333 10.5-13.333 10.5-24v-12.5c0-10.217 8.2827-18.5 18.5-18.5 10.287 0 18.636 8.3235 18.666 18.611 0.019372 6.5699-0.035925 10.7-0.16589 12.389-1.5 19.5-3.5 31.5-12 45" pathLength="1"/>
                <path d="m26.92 92.221c8.6667-9.3333 13-17.333 13-24 0-4.1832-0.18166-10.365-0.54497-18.544-0.2219-4.9954 3.6478-9.2249 8.6432-9.4467 0.13383-0.0059444 0.26778-0.0089177 0.40175-0.0089177 5.5235 0 10.044 4.395 10.2 9.9163 0.16256 5.764-0.070756 11.792-0.69994 18.084-1.5 15-5.5 25.5-16.5 38" pathLength="1"/>
                <path d="m32.92 99.221c10.667-12.333 16-23.333 16-33v-17" pathLength="1"/>
            </svg>
        </span>
        <span class="print print--over">
            <svg viewBox="0 0 98 109" xmlns="http://www.w3.org/2000/svg">
                <path d="m95.42 60.221c0.33333-4.6667 0.33333-10.667 0-18-0.5-11-8.5-26.5-24-34.5-15.5-8-38-9.5-55.5 8-11.667 11.667-16 25.5-13 41.5l0.65525 4.3683c0.38693 2.5791 2.7914 4.3563 5.3705 3.9695 2.5664-0.38496 4.3413-2.7687 3.9742-5.3378-1-7-6-22 10-38 14.554-14.554 38.15-14.554 52.704 0 4.5444 4.5444 7.8364 10.187 9.5562 16.379 0.5744 2.0681 0.98766 3.9417 1.2398 5.6209 2.4899 16.582-2.9979 37.051-6 53" pathLength="1"/>
                <path d="m15.42 76.221c5.3333-3.6667 7.3333-10.167 6-19.5-0.23862-1.551-0.44877-3.0902-0.63044-4.6174-1.8313-15.395 9.1641-29.359 24.559-31.191 1.268-0.15084 2.5448-0.21497 3.8216-0.19197 15.616 0.28138 28.07 13.129 27.864 28.747-0.089675 6.8105-0.29443 11.895-0.61426 15.253-1.2042 12.644-2.9364 21.532-7 37" pathLength="1"/>
                <path d="m19.92 85.221c7-5.3333 10.5-13.333 10.5-24v-12.5c0-10.217 8.2827-18.5 18.5-18.5 10.287 0 18.636 8.3235 18.666 18.611 0.019372 6.5699-0.035925 10.7-0.16589 12.389-1.5 19.5-3.5 31.5-12 45" pathLength="1"/>
                <path d="m26.92 92.221c8.6667-9.3333 13-17.333 13-24 0-4.1832-0.18166-10.365-0.54497-18.544-0.2219-4.9954 3.6478-9.2249 8.6432-9.4467 0.13383-0.0059444 0.26778-0.0089177 0.40175-0.0089177 5.5235 0 10.044 4.395 10.2 9.9163 0.16256 5.764-0.070756 11.792-0.69994 18.084-1.5 15-5.5 25.5-16.5 38" pathLength="1"/>
                <path d="m32.92 99.221c10.667-12.333 16-23.333 16-33v-17" pathLength="1"/>
            </svg>
        </span>
    </a>
</section>


